---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import ContentMedia2 from '../components/ContentMedia2.astro'
---
<DefaultLayout title="Portfolio">

  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Projects</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="3+" title="Design" sub="Mechnical" />
        <Counter count="1+" title="AI" sub="Coding" />
        <Counter count="3+" title="Technical" sub="Design+Coding" />
        <Counter count="2+" title="Years" sub="Experience" />
      </div>
    </div>
  </section>

    <div class="container">

    <h1 class="mb-16 text-6l" style="text-align: center;">Mechanical Design</h1>


    <ContentMedia imgSrc="/portfolio/3dprinter.PNG" reverseImg={true}>
    <h2>FDM: 3D Printer</h2>
    <p class="text-2l">
    The project involved designing an FDM (Fused Deposition Modeling) 3D Printer with the goal of maximizing speed and efficiency while minimizing both physical space requirements and costs, targeting the hobbyist market. Utilizing SolidWorks for CAD, my team of four mechanical engineers from the University of Toronto and I created three candidate designs. Through a collaborative process, we engaged in extensive design research and analysis, including part analysis and cost design reports. Our efforts culminated successfully in a design that met all our predefined criteria, and we finalized the design reports, marking the achievement of our objectives.
    </p>
  </ContentMedia>

    <ContentMedia2 imgSrc="/portfolio/gearbox1.PNG" reverseImg={true}>
    <h2>Gearbox Design: Rapid-Prototyping</h2>
    <p class="text-2l">
    The design successfully achieved a 3:1 speed reduction ratio in a right-angle gearbox, with input and output shafts oriented at a 90° angle without the use of worm gears, adhering to the specified constraints. Utilizing Solidworks, the gearbox was meticulously designed, incorporating Geometric Dimensioning and Tolerancing (GD&T) for precision across all components. The assembly was streamlined through the integration of a support mechanism using pins, and gears were precisely designed using Solidworks' toolbox to ensure the correct pitch ratios and shaft diameters were met. This approach not only facilitated rapid prototyping for iterative design enhancements but also ensured the entire assembly could be completed within the stringent timeframe of under 10 minutes. Additionally, the design was optimized for 3D printing, allowing for fabrication to be completed within a maximum of 6 hours, showcasing an efficient and effective design and manufacturing process.</p>
  </ContentMedia2>

    <ContentMedia imgSrc="/portfolio/piston1.PNG" reverseImg={true}>
    <h2>Piston: Air Compressed</h2>
    <p class="text-2l">
    Leveraging isometric drawing instructions and an aluminium block, a complete air-compressed piston engine was designed from scratch. The process involved meticulous blueprint reading and the utilization of CNC milling, lathe, and drill press to achieve precise machining. Advanced design calculations were performed to optimize the center of gravity, ensuring the engine's efficiency and performance. Within a remarkable timeframe of just under two days, this project culminated in the expert engineering and assembly of a fully operational piston engine. This achievement not only demonstrates rapid prototyping skills but also underscores mechanical ingenuity, highlighting the ability to swiftly bring complex mechanical designs from concept to reality.
    </p>
    </ContentMedia>

    <h1 class="mb-16 text-6l" style="text-align: center;">Technical</h1>

    <ContentMedia2 imgSrc="/portfolio/bracelet3.jpg" reverseImg={true}>
    <h2>Smart Alerting Bracelet</h2>
    <p class="text-2l">
    For St. Lawrence College, a smart alerting bracelet was meticulously designed to assist an 8-year-old girl with ADHD by monitoring and alerting her about her volume levels. Utilizing SolidWorks, the bracelet's structure was designed with precision to ensure comfort and durability. Material analysis was conducted in close collaboration with the client to align with design requirements and preferences. The integration of an Arduino microcontroller formed the core of the bracelet's electrical framework, enabling the detection of voice levels and providing timely alerts. Through rapid prototyping and 3D printing techniques, the design objectives were not only achieved but surpassed, leading to the successful creation of a functional bracelet. This innovative solution effectively operates within classroom settings, fully satisfying the client's requirements and addressing the problem statement with a practical and user-friendly device.
    </p>
    </ContentMedia2>


    <ContentMedia imgSrc="/portfolio/plane1.png" reverseImg={true}>
    <h2>Remote-Controlled Aircraft</h2>
    <p class="text-2l">
    I successfully engineered and assembled a high-performance RC Aircraft from lightweight Styrofoam, incorporating advanced components such as Brushless Motors, ESC, Servo Motors, and a Flysky FS-i6X 10CH 2.4GHz Transmitter with FS-iA10B Receiver, achieving an exceptional range of 1.5 miles. My design process focused on enhancing flight capabilities by integrating and optimizing features like Flaps Landing for controlled descents, a Fail Switch for emergency recoveries, and Auto Landing for autonomous touch-downs, demonstrating a holistic approach to innovative aircraft design, functionality, and safety. This project, blending my expertise in AutoCAD, electrical system implementations, and flight testings, highlighted my comprehensive skill set in creating advanced, remote-controlled aviation models.
    </p>
    </ContentMedia>

    <ContentMedia2 imgSrc="/portfolio/laser1.jpeg" reverseImg={true}>
    <h2>Laser Security System</h2>
    <p class="text-2l">
    I conceptualized and developed an innovative Laser Security System for doors, utilizing Arduino UNO technology to enhance security and prevent theft. My approach involved skillful design and assembly of the system, employing breadboard circuits and integrating IR sensors for a seamless and responsive security solution. This project underscored my focus on reliability and effectiveness, showcasing my ability to merge circuit design with sensor integration to create a sophisticated security apparatus that stands at the forefront of technology-driven safety measures.
    </p>
    </ContentMedia2>

    <h1 class="mb-16 text-6l" style="text-align: center;">Artificial Intelligence</h1>

    <ContentMedia imgSrc="/portfolio/music1.png" reverseImg={true}>
    <h2>Music Genre Categorization: Deep Learning</h2>
    <astro-dev-toolbar-card icon="astro:logo" link="https://github.com/aaryamanz/music-genre-categorization" card>GitHub</astro-dev-toolbar-card>
    <p class="text-2l">
    I enhanced the GTZAN dataset through data augmentation and conducted a detailed analysis of the audio signals. By visualizing these signals in the time domain and examining their frequency components over 0.01-second intervals using Fast Fourier Transform (FFT), I gained insights into the underlying patterns of the audio samples. This analysis enabled me to generate spectrograms, providing a visual representation of the spectrum of frequencies in the audio files as they vary with time.

    To further harness the power of deep learning for audio classification, I utilized the AlexNet neural network as a feature extractor. This approach allowed me to capture the essential features from the spectrograms effectively. Building on this, I implemented a fully connected neural network to classify the audio samples. This combination of a sophisticated feature extraction technique with a robust classifier underscores my commitment to leveraging advanced machine learning methodologies to achieve high accuracy in audio signal processing and classification tasks. </p>
    </ContentMedia>
    </div>

</DefaultLayout>
